<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ObjectDetection-YOLOv8</title>
    <style>
        body{
        font-family:Helvetica, sans-serif;
        margin:0px;
        padding:0px;
        }
        header.feature-box.right{
        background-color:black;
        color:white;
        height:120px;
        padding:5px;
        text-align:right;
        }
        
        ul{
        list-style:none;
        padding:0px;}
        li{
        display:inline-block;
        background-color:gray;
        border-radius:10px;
        padding:10px;
        margin:10px;
        }
        li:hover{
        background-color:red;
        margin:10px;
        }
        header a{
        color:white;
        text-decoration:none;
        width:100%;
        }

        footer{
        background-color:white;
        text-align:center;
        margin:0px;
        padding:0px;
        color:black;
        font-size:20px;
        }

    </style>
</head>
<body>
    <header class="feature-box right">
        <nav>
            <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/FrontPage">Video</a></li>
            <li><a href="/webcam">LiveWebcam</a></li>
            </ul>
        </nav>
    </header>


<footer>
    <p>RICO PREDIANSYAH</p>
</footer>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Qutions-PT</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/images/favicon.png" rel="icon">
  <link href="../static/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../static/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:qutionspt@google.com">qutionspt@gmail.com</a>
        <i class="bi bi-phone"></i> +62858 9999 9999
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="../templates/indexproject.html">Qutions-PT</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="indexproject.html" class="logo me-auto"><img src="../static/images/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#anggota">Team</a></li>
          <li><a class="nav-link scrollto" href="#faq">FAQs</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Welcome to Qutions-PT</h1>
      <h2>Quick detections for palm trees</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Mengapa Memilih Qutions-PT?</h3>
              <p>
                Penting untuk mengetahui kondisi pohon sawit, karena pemantauan kondisi kelapa sawit dapat dilakukan dengan teknologi yang didukung pemantauan akurat dan handal yang dapat memberikan kondisi kesehatan dan potensi resiko yang ada pada pohon sawit anda. Solusi kami dapat disesuaikan dengan kebutuhan dan pelayanan yang inovatif, hal ini merupakan investasi anda dalam meningkatkan produktivitas dan keberlanjutan perkebunan kelapa sawit anda.

              </p>
              <div class="text-center">
                <a href="#about" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-virus"></i>
                    <h4>Deteksi dini hama dan penyakit</h4>
                    <p>Melalui teknologi dapat memungkinkan tindakan pencegahan dan pengendalian yang lebih efektif, sehingga meminimalkan kerusakan tanaman dan meningkatkan hasil panen anda.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-cpu-fill"></i>
                    <h4>Computer Vision for Detection</h4>
                    <p>Memungkinkan deteksi kondisi pohon sawit secara otomatis dan akurat untuk membantu petani dalam mengelola perkebunan secara efektif dan efisien yang menjadi fokus kami.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-cash-coin"></i>
                    <h4>Optimalisasi pengelolaan</h4>
                    <p>Deteksi dini masalah dengan teknologi ini dapat membantu menghemat biaya pengendalian hama, penyakit, pestisida, dan pupuk untuk meminimalisir kerugian panen serta menjaga llingkungan.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div id="aboutimage" class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>Manfaatkan teknologi mutakhir untuk memantau kesehatan tanaman, mendeteksi hama dan penyakit, serta mengoptimalkan panen sawit Anda.</h3>
            <p>Di era modern ini, teknologi memainkan peran penting dalam berbagai bidang, termasuk perkebunan sawit. Dengan menggunakan teknologi deteksi cerdas, Anda dapat meningkatkan efisiensi dan efektivitas pengelolaan perkebunan Anda, sehingga menghasilkan panen yang lebih optimal dan keuntungan yang lebih besar. Bagaimana cara deteksi Qutions-PT bekerja?</p>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-camera"></i></div>
              <h4 class="title"><a href="/FrontPage">foto</a></h4>
              <p class="description">Unggah foto pohon sawit maka algoritma akan menganalisis kemudian menampilkan informasi terkait pohon sawit pada foto tersebut.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-play"></i></div>
              <h4 class="title"><a href="/FrontPage">Video</a></h4>
              <p class="description">Unggah video yang direkam di perkebunan sawit untuk mendeteksi kondisi sawit secara menyeluruh kemudian algoritma akan menganalisis yang dapat memberikan prediksi dan peringatan dini tentang potensi masalah di perkebunan, seperti serangan hama atau penyakit.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-video"></i></div>
              <h4 class="title"><a href="/webcam">Live Camera</a></h4>
              <p class="description">Pengguna dapat memantau kondisi perkebunan sawit secara real-time melalui live kamera yang dipasang di berbagai titik di perkebunan.Sehingga algoritma AI dapat mendeteksi masalah secara instan dan memberikan peringatan kepada pengguna, memungkinkan respons yang cepat dan tepat.</p>
            </div>

          </div>
        </div>  

      </div>
    </section><!-- End About Section -->

    <!-- ======= Anggota Section ======= -->
    <section id="anggota" class="anggota">
      <div class="container">

        <div class="section-title">
          <h2>Team Members</h2>
          <p>Kami yakin bahwa dashboard ini akan menjadi alat yang berharga bagi tim Qutions-PT dalam mencapai tujuan mereka. Jika Anda memiliki pertanyaan atau memerlukan bantuan, jangan ragu untuk menghubungi kami.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/images/members/ricoooo.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Rico Prediansyah</h4>
                <span>Ketua Tim</span>
                <p> Prodi Teknik Elektro, Fakultas Teknik, Universitas Lampung</p>
                <div class="social">
                  <a href="http://instagram.com/predi.rco"><i class="ri-instagram-fill"></i></a>
                  <a href="http://linkedin.com/in/rico-prediansyah-a711bb265/"> <i class="ri-linkedin-box-fill"></i> </a>
                  <a href="http://github.com/ricoprediansyah"> <i class="ri-github-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="..\static\images\members\rizky.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Rizky Firmansyah</h4>
                <span>Anggota Tim</span>
                <p>Prodi Teknik Elektro, Fakultas Teknik, Universitas Lampung</p>
                <div class="social">
                  <a href="http://instagram.com/rizkyfrmn_13"><i class="ri-instagram-fill"></i></a>
                  <a href="https://www.linkedin.com/in/rizky-firman"> <i class="ri-linkedin-box-fill"></i> </a>
                  <a href="https://github.com/rizkyfirmn"> <i class="ri-github-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="..\static\images\members\toriq.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Toriq Al Zam Zammi</h4>
                <span>Anggota Tim</span>
                <p>Prodi Informatika, Fakultas Ilmu Komputer, Universitas Bandar Lampung
                <div class="social">
                  <a href="https://www.instagram.com/toriqalzz?igsh=Nmd6NDJrcGt0b3p5&utm_source=qr"><i class="ri-instagram-fill"></i></a>
                  <a href="https://id.linkedin.com/in/toriq-al-zam-zammi-49b9a12a1"> <i class="ri-linkedin-box-fill"></i> </a>
                  <a href="https://github.com/toriqalzz"> <i class="ri-github-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static\images\members\sofya.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sofya Ning Dyaz</h4>
                <span>Anggota Tim</span>
                <p>Prodi Teknik Elektro, Fakultas Teknik, Universitas Lampung</p>
                <div class="social">
                  <a href="https://www.instagram.com/sofy.agzz/"><i class="ri-instagram-fill"></i></a>
                  <a href="https://www.linkedin.com/in/sofya-ning-dyaz-846894223/"> <i class="ri-linkedin-box-fill"></i> </a>
                  <a href="https://github.com/sofyandyaz"> <i class="ri-github-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static/images/members/iffah.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Iffah Tsabita Ihsani</h4>
                <span>Anggota Tim</span>
                <p>Prodi Manajemen, Fakultas Ekonomi & Bisnis, Universitas Muhammadiyah Metro</p>
                <div class="social">
                  <a href="https://www.instagram.com/ifsabitaaa"><i class="ri-instagram-fill"></i></a>
                  <a href="https://www.linkedin.com/in/iffah-tsabita-ihsani-b88477307"> <i class="ri-linkedin-box-fill"></i> </a>
                  <a href="https://github.com/ifasabitaa"> <i class="ri-github-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../static\images\members\awlina.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Awalina Elma Fitri Rahma </h4>
                <span>Anggota Tim</span>
                <p>Prodi Akuntansi, Fakultas Ekonomi & Bisnis, Universitas Muhammadiyah Metro</p>
                <div class="social">
                  <a href="https://www.instagram.com/awalinalma_"><i class="ri-instagram-fill"></i></a>
                  <a href="https://www.linkedin.com/in/awalina-elma-fitri-rahma-68737526a"> <i class="ri-linkedin-box-fill"></i> </a>
                  <a href="https://github.com/Awalinaelma"> <i class="ri-github-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Anggota Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <p>Temukan Jawaban untuk Pertanyaan Umum Anda tentang Deteksi Pohon Sawit dengan menggunakan Qutions-PT. Jelajahi FAQ Kami untuk Mendapatkan Informasi yang Anda Butuhkan dalam Mengoptimalkan Perkebunan Anda.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Bagaimana foto saya akan dianalisis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Foto Anda akan dianalisis menggunakan algoritma computer vision untuk mendeteksi potensi masalah seperti hama, penyakit, dan kerusakan pada tanaman. Maka hasil analisis akan ditampilkan di website.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Berapa biaya untuk menggunakan website ini? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Website ini menawarkan berbagai paket harga untuk memenuhi kebutuhan yang berbeda. Anda dapat mendaftar untuk uji coba gratis untuk menjelajahi fitur dan menentukan paket mana yang tepat untuk Anda.

                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Apakah platform ini dapat diakses dari perangkat seluler?  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Ya, platform kami dioptimalkan untuk diakses dari berbagai perangkat, termasuk perangkat seluler seperti ponsel pintar dan tablet. Anda dapat memantau kondisi pohon sawit Anda di mana pun Anda berada.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Apakah platform ini menyediakan data real-time? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Ya, platform kami menyediakan data pemantauan pohon sawit secara real-time. Anda dapat melihat perkembangan terbaru kondisi pohon sawit Anda kapan pun dibutuhkan.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Apakah ada panduan atau tutorial untuk membantu saya memahami cara menggunakan platform ini dengan lebih baik? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                Ya, kami menyediakan panduan pengguna dan tutorial yang akan membantu Anda memahami cara menggunakan platform kami dengan lebih baik. Anda dapat menemukan panduan ini di bagian bantuan pada website kami.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="../static/images/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Asep Knalpot</h3>
                  <h4>Farmer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Website ini sangat membantu saya dalam memantau kesehatan pohon kelapa sawit di perkebunan saya. Berkat website ini, saya dapat mendeteksi hama dan penyakit secara dini sehingga dapat segera ditangani.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="../static/images/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sujinem</h3>
                  <h4>Farmer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Saya sangat terkesan dengan akurasi analisis website ini. Website ini membantu saya menghemat waktu dan uang dengan mendeteksi masalah di perkebunan saya sebelum menjadi lebih serius.
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="../static/images/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jaripah</h3>
                  <h4>Student</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Website ini sangat mudah digunakan dan dipahami. Saya tidak perlu memiliki pengetahuan teknis untuk menggunakannya. Saya sangat merekomendasikan website ini kepada semua petani kelapa sawit.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="../static/images/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Slamet Kopling</h3>
                  <h4>Farmer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Website ini adalah alat yang berharga bagi petani kelapa sawit. Website ini membantu saya meningkatkan hasil panen dan keuntungan saya.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="../static/images/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Joni</h3>
                  <h4>Student</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Saya sangat senang dengan layanan pelanggan website ini. Mereka selalu siap membantu saya jika saya memiliki pertanyaan atau masalah.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Jelajahi Kumpulan Hasil Terbaru Qutions-PT yang Mencakup Data Pemantauan Kondisi Pohon Sawit, dan Prediksi Potensi Risiko untuk Meningkatkan Efisiensi untuk Produktivitas Perkebunan Anda.</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row g-0">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/images/gallery/gallery-1.jpg" class="galelry-lightbox">
                <img src="../static/images/gallery/gallery-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/images/gallery/gallery-2.jpg" class="galelry-lightbox">
                <img src="../static/images/gallery/gallery-2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/images/gallery/gallery-3.jpg" class="galelry-lightbox">
                <img src="../static/images/gallery/gallery-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/images/gallery/gallery-4.jpg" class="galelry-lightbox">
                <img src="../static/images/gallery/gallery-4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/images/gallery/gallery-5.jpg" class="galelry-lightbox">
                <img src="../static/images/gallery/gallery-5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/images/gallery/gallery-6.jpg" class="galelry-lightbox">
                <img src="../static/images/gallery/gallery-6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/images/gallery/gallery-7.jpg" class="galelry-lightbox">
                <img src="../static/images/gallery/gallery-7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="../static/images/gallery/gallery-8.jpg" class="galelry-lightbox">
                <img src="../static/images/gallery/gallery-8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Punya pertanyaan tentang website kami atau bagaimana teknologi kami dapat membantu Anda meningkatkan kesehatan pohon kelapa sawit? Hubungi kami hari ini!</p>
        </div>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d22470.989581656853!2d105.24652362783277!3d-5.363880329359843!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e40c5f60802221d%3A0xac5d5819e12c9bcf!2sLampung%20University!5e0!3m2!1sen!2sid!4v1714621497062!5m2!1sen!2sid"></iframe></iframe>
      </div>

      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>J6PV+85 Gedong Meneng, Bandar Lampung City, Lampung</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>qutionspt@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+62858 9999 9999</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Qutions-PT</h3>
            <p>
              J6PV+85 Gedong Meneng <br>
              Bandar Lampung City<br>
              Lampung, 35141 <br><br>
              <strong>Phone:</strong> +62858 9999 9999<br>
              <strong>Email:</strong> qutionspt@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#anggota">Anggota</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#gallery">Gallery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">Object Detections</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="text-center">
        <div class="copyright">
          &copy; Copyright <strong><span>QutionsP-T</span></strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>